test/data/snd/countdown5.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/wait2.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/wait4.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/wait6.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/wait8.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/walk-backwards.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/countdown3.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/snd/countdown4.mp3 filter=lfs diff=lfs merge=lfs -text
test/data/img/intros/wait6.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/intros/wait8.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/outros/countdown3.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/stop.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/walks/walkpants.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/intros/wait4.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/outros/countdown4.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/outros/countdown5.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/walks/baseball.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/walks/walk-backwards.gif filter=lfs diff=lfs merge=lfs -text
test/data/img/walks/walkdress.gif filter=lfs diff=lfs merge=lfs -text
test/data/snd/walkBackwards.m4a filter=lfs diff=lfs merge=lfs -text
