[Unit]
Description=crosswalk timer
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/uv run --frozen --no-dev python -m xwalk2.timer
WorkingDirectory=/opt/crosswalk
Restart=on-failure
User=crosswalk
Group=crosswalk
Environment=PYTHONUNBUFFERED=1
Environment=XWALK_BUTTON_PIN={{crosswalk_button_pin}}
Environment=XWALK_CONTROLLER={{crosswalk_controller}}
Environment=XWALK_INTERACTION={{crosswalk_interaction}}
Environment=XWALK_HEARTBEAT={{crosswalk_heartbeat}}
Environment=XWALK_HOSTNAME={{crosswalk_hostname}}

[Install]
WantedBy=multi-user.target
