{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>🚦 Crosswalk V2 Control Panel</h1>
    
    <div id="alert-area"></div>
    
    <div class="button-group">
        <h3>Actions</h3>
        <button type="button" 
            hx-get="/status" 
            hx-target="#status" 
            hx-swap="innerHTML"
            >📊 Refresh Status</button>

        <button 
            hx-post="/button" 
            hx-target="#status" 
            hx-swap="innerHTML"
        >🔘 Press Button</button>

        <button 
            hx-post="/timer" 
            hx-target="#status" 
            hx-swap="innerHTML"
        >⏰ Timer Expired</button>

        <button 
            hx-post="/queue/_" 
            hx-target="#status" 
            hx-swap="innerHTML"
            hx-confirm="This will queue all walks. Are you sure?"
        >➕ Queue All</button>

        <button 
            hx-delete="/queue/" 
            hx-target="#status" 
            hx-swap="innerHTML"
        >❌ Clear Queue</button>
    </div>
    
    <div id="status">
    {% include "components/status.html" %}
    </div>
{% endblock %}
