<h3>System Status</h3>

{{ status.message or "" }}

<p><strong>Playing:</strong> {{ "🟢 Yes" if status.playing else "🔴 No" }}</p>

<p><strong>Controller time:</strong> 
    {{ status.timestamp.strftime("%d/%m/%Y %H:%M:%S") }} (as of last status request)
</p>

<p><strong>Walk queue:</strong> {{ status.walk_queue }}</p>

<p><strong>All schedule</strong></p>
<ul>
  {% for item in status.menu %}
  {% if item == status.active_schedule %}
    <li><strong>{{ item }} <-- active</strong></li>
  {% else %}
    <li>{{ item }}</li>
  {% endif %}
  {% endfor %}
</ul>

<p><strong>Components:</strong></p>
<ul>
  {% for name, timestamp in status.components.items() %}
    <li>
      <strong>{{ name }}</strong>:
      Last seen {{ (now - timestamp).total_seconds() | round }}s ago
    </li>
  {% endfor %}
</ul>

<p><strong>Walk History:</strong></p>
<ul>
  {% for happened_at, walk in status.walk_history %}
    <li> {{happened_at.strftime("%d/%m/%Y %H:%M:%S")}} - <strong>{{ walk }}</strong></li>
  {% endfor %}
</ul>

<p><strong>Animations:</strong></p>

{% if status.animations %}
  <div>
    <strong>Intros</strong>
    <ul>
      {% for walk in status.animations.intros | sort %}
        <li>{{ walk }}</li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <strong>Walks</strong>
      {% for category, walks in status.animations.walks.items() | sort %}
      <h4>{{category}}</h4>
      <ul>
      {% for walk, info in walks.items() | sort %}
        <li>
          <button 
            hx-post="/queue/{{ walk }}" 
            hx-target="#status" 
            hx-swap="innerHTML"
          > ➕ </button>
          {{ walk }}
        </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>

  <div>
    <strong>Outros</strong>
    <ul>
      {% for walk in status.animations.outros | sort %}
        <li>{{ walk }}</li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <em>No animations</em>
{% endif %}
